Package: mscorefonts-extra
Version: 1.0
Section: multiverse/x11
Maintainer: Gustavo Moraes <gustavomdsantos@pm.me>
Homepage: https://github.com/gustavomdsantos/mscorefonts-extra
Installed-Size: 51
Priority: optional
Architecture: all
Depends: ttf-mscorefonts-installer
Description: Installer for extra Microsoft core fonts
 This package allows for easy installation of the Microsoft Windows fonts
 that are not included in the "ttf-mscorefonts-installer" package.
 .
 This software was packaged using Quick DEB Builder: 
 <https://github.com/gustavomdsantos/quick-deb-builder>
