Package: mscorefonts-extra
Version: 1.0
Section: multiverse/x11
Maintainer: Gustavo Moraes <gustavomdsantos@pm.me>
Homepage: https://github.com/gustavomdsantos/mscorefonts-extra
Installed-Size: 51
Priority: optional
Architecture: all
Depends: ttf-mscorefonts-installer
Description: Installer for extra Microsoft fonts
 This package allows for easy installation of the Microsoft Windows 11 fonts
 that are not included in the "ttf-mscorefonts-installer" package.
 .
 If your system is saying that the "ttf-mscorefonts-installer" package
 is not available, run this command before installing this package:
 .
 sudo add-apt-repository multiverse && sudo apt update
 .
 This software was packaged using Quick DEB Builder: 
 <https://github.com/gustavomdsantos/quick-deb-builder>
